In [1]:
from aeon.registry import all_tags

In [2]:
data = all_tags(estimator_types="transformer", as_dataframe=True)
data

,name,scitype,type,description
0,X_inner_type,"[forecaster, classifier, regressor, transforme...","(list, [pd.Series, pd.DataFrame, np.ndarray, n...",which data structure is the internal _fit/_pre...
1,capability:inverse_transform,transformer,bool,is the transformer capable of carrying out an ...
2,capability:missing_values:removes,transformer,bool,is the transformer result guaranteed to have n...
3,capability:multivariate,"[classifier, clusterer, early_classifier, regr...",bool,can the estimator deal with series with two or...
4,capability:unequal_length,"[classifier, clusterer, early_classifier, regr...",bool,can the estimator handle unequal length time s...
5,capability:unequal_length:removes,transformer,bool,is the transformer result guaranteed to be equ...
6,input_data_type,transformer,"(list, [Series, Collection, Panel])",The input abstract data type of the transforme...
7,instancewise,transformer,bool,Does the transformer transform instances indep...
8,output_data_type,transformer,"(list, [Tabular, Series, Collection, Primitive...",The output abstract data type of the transform...
9,remember_data,"[forecaster, transformer]",bool,whether estimator remembers all data seen as s...
10,requires_y,transformer,bool,does this transformer require y to be passed i...
11,skip-inverse-transform,transformer,bool,behaviour flag: skips inverse_transform when c...
12,transform-returns-same-time-index,transformer,bool,does transform return same time index as input?
13,transform_labels,transformer,"(list, [None, Series, Primitives, Panel])","What is the type of y: None (not needed), Prim..."
14,y_inner_type,"[forecaster, transformer]","(list, [pd.Series, pd.DataFrame, np.ndarray, n...",which data structure is the internal _fit/_pre...

## Transformer FeatureSelection

In [3]:
from aeon.datasets import load_longley
from aeon.transformations.feature_selection import FeatureSelection
from aeon.forecasting.model_selection import temporal_train_test_split

In [4]:
y, X = load_longley()
y_train, y_test, X_train, X_test = temporal_train_test_split(y, X, test_size=3)

In [3]:
X.shape

(16, 5)

In [4]:
y.shape

(16,)

In [5]:
type(X)

pandas.core.frame.DataFrame

In [6]:
type(y)

pandas.core.series.Series

In [7]:
X.head()

        GNPDEFL       GNP   UNEMP   ARMED       POP
Period
1947       83.0  234289.0  2356.0  1590.0  107608.0
1948       88.5  259426.0  2325.0  1456.0  108632.0
1949       88.2  258054.0  3682.0  1616.0  109773.0
1950       89.5  284599.0  3351.0  1650.0  110929.0
1951       96.2  328975.0  2099.0  3099.0  112075.0

In [8]:
y.head()

Period
1947    60323.0
1948    61122.0
1949    60171.0
1950    61187.0
1951    63221.0
Freq: A-DEC, Name: TOTEMP, dtype: float64

In [9]:
X_train.shape

(13, 5)

In [6]:
transformer = FeatureSelection(method="random", columns=None, n_columns=2, random_state=None)
transformer.fit(X=X_train, y=y_train)
X_hat = transformer.transform(X=X_test, y=y_test)

In [11]:
type(X_hat)

pandas.core.frame.DataFrame

In [12]:
X_hat.shape

(3, 2)

In [13]:
X_test

        GNPDEFL       GNP   UNEMP   ARMED       POP
Period
1960      114.2  502601.0  3931.0  2514.0  125368.0
1961      115.7  518173.0  4806.0  2572.0  127852.0
1962      116.9  554894.0  4007.0  2827.0  130081.0

In [14]:
X_hat

         ARMED       GNP
Period
1960    2514.0  502601.0
1961    2572.0  518173.0
1962    2827.0  554894.0

## Test

In [16]:
from aeon.datasets import load_basic_motions, load_unit_test
from aeon.testing.expected_results.expected_transform_outputs import (
    basic_motions_result,
    unit_test_result,
)

In [17]:
from aeon.transformations.clear_sky import ClearSky  
from aeon.datasets import load_solar  
X = load_solar()

D:\Python\Project\Aeon\aeon\aeon\datasets\_single_problem_loaders.py:1017: UserWarning:
                    Error detected using API. Check connection, input arguments, and
                    API status here https://www.solar.sheffield.ac.uk/pvlive/api/.
                    Loading stored sample data instead.

  warn(

In [18]:
X.shape

(289,)

In [19]:
transformer = ClearSky()

In [20]:
X_trafo = transformer.fit_transform(X)

In [21]:
X_trafo.shape

(289,)

In [22]:
X.head()

datetime_gmt
2021-05-01 00:00:00+00:00    0.0
2021-05-01 00:30:00+00:00    0.0
2021-05-01 01:00:00+00:00    0.0
2021-05-01 01:30:00+00:00    0.0
2021-05-01 02:00:00+00:00    0.0
Freq: 30T, Name: solar_gen, dtype: float64

In [23]:
X_trafo.head()

datetime_gmt
2021-05-01 00:00:00+00:00    0.0
2021-05-01 00:30:00+00:00    0.0
2021-05-01 01:00:00+00:00    0.0
2021-05-01 01:30:00+00:00    0.0
2021-05-01 02:00:00+00:00    0.0
Freq: 30T, dtype: float64

In [24]:
Xi = transformer.inverse_transform(X_trafo)

In [25]:
Xi.head()

datetime_gmt
2021-05-01 00:00:00+00:00    0.0
2021-05-01 00:30:00+00:00    0.0
2021-05-01 01:00:00+00:00    0.0
2021-05-01 01:30:00+00:00    0.0
2021-05-01 02:00:00+00:00    0.0
Freq: 30T, dtype: float64

In [27]:
from aeon.testing.utils.estimator_checks import _assert_array_almost_equal
y = _assert_array_almost_equal(X,Xi)

In [29]:
type(y)

NoneType

In [9]:
not transformer.get_tag("capability:multivariate")

False